.cmp-adaptiveform-text {
  color: var(--dark-primary);
  font-size: var(--font-m);
  word-break: break-all;
}
.info_box{
  border: var(--border-light);
  padding: 4px;
  border-radius: var(--mid-radius);
}