.cmp-adaptiveform-container {
  &__wrapper {
    margin: 0 auto;
    padding: 0 var(--space-m);
    box-sizing: border-box;
    max-width: 1020px;
    width: 100%;
    padding: var(--space-s) ;
  }

  &--loading {
    background: rgb(255, 255, 255) url(./resources/images/busy-state.gif) no-repeat fixed center;
    position: fixed;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: wait;
    z-index: 100000;
  }
}