/* ===============Container================== */
.cmp-adaptiveform-container__wrapper {
  margin: 0 auto;
  padding: 0 $space-m;
}


.cmp-adaptiveform-container__wrapper {
  box-sizing: border-box;
  max-width: 720px;
  width: 100%;

  @media(max-width:480px) {
    padding: $space-s;
  }
}

.cmp-adaptiveform-container--loading {
  background: rgb(255, 255, 255) url(./resources/images/busy-state.gif) no-repeat fixed center;
  position: fixed;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: wait;
  z-index: 100000;
}
