.cmp-adaptiveform-fileinput {
  @include input;

  &__widgetlabel {
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url(./resources/images/file-attach.svg) center center / cover no-repeat;
    }
  }

  &__widgetlabel {
    @include secondary-button;
    margin: $space-xs 0;
    display: flex;
    column-gap: $space-xs;
    align-items: center;
    pointer-events: all;
  }

  &__filelist {
    padding: 0;
    @include list-container;
  }

  &__fileitem {
    @include list-item;
  }

  &__filename {
    position: static;
  }

  input[type="file"] {
    column-gap: $space-l;
  }

  &__filedelete {
    float: right;
    font-size: $font-m;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    color: $error;
    cursor: pointer;
  }

  br {
    display: none;
  }
}