.cmp-adaptiveform-fileinput {
  @include input;

  &__widgetlabel {
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url(./resources/images/file-attach.svg) no-repeat;
      padding-right: 24px;
    }
  }

  &__widgetlabel {
    @include secondary-button;
    margin: var(--space-xs) 0;
    display: flex;
    column-gap: var(--space-xs);
    align-items: center;
    pointer-events: all;
  }

  &__filelist {
    padding: 0;
    @include list-container;
  }

  &__fileitem {
    @include list-item;
  }

  &__filename {
    position: static;
  }

  input[type="file"] {
    column-gap: var(--space-l);
  }

  &__filedelete {
    float: right;
    font-size: var(--font-m);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    color: var(--error);
    cursor: pointer;
  }

  br {
    display: none;
  }
}