/* ===============Radio Button================== */

.cmp-adaptiveform-radiobutton {
  @include component-box;
}

.cmp-adaptiveform-radiobutton__label {
  @include component-label;
}

.cmp-adaptiveform-radiobutton__widget {
  @include list;
}

.cmp-adaptiveform-radiobutton__longdescription {
  @include long-description;
}

.cmp-adaptiveform-radiobutton__shortdescription {
  @include short-description;
}

.cmp-adaptiveform-radiobutton__questionmark {
  @include question-mark;
}

.cmp-adaptiveform-radiobutton__errormessage {
  @include error-message;
}

span {
  opacity: 1;
}

.cmp-adaptiveform-radiobutton__option:focus-within {}

input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  outline: none !important;
}


.cmp-adaptiveform-radiobutton__option__label {
  @include list-item;


}

.cmp-adaptiveform-radiobutton[data-cmp-valid=false] {}

.cmp-adaptiveform-radiobutton[data-cmp-valid=true] {}
