.cmp-adaptiveform-pageheader {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 80px;
  column-gap: $space-s;
  color: $dark-gray;
  font-size: $font-m;
  border-radius: 0;
  word-break: break-all;
  background-color: $primary;

  img {
    height: 130px;
    margin: 0;
    width: auto;
    color: white;
    display: block;
  }
  div{
    flex: 1;
  }

  div:last-child {
    // display: flex;
    // align-items: center;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin: 0;
  }
  @media (max-width: 720px) {
    flex-direction: column;
    padding: 0 12px;
    div:last-child {
      font-size: 16px;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
}