/* ===============Page Header================== */

.cmp-adaptiveform-pageheader {

  @include tab-panel;
  display: flex;
  width: 100%;
  align-items: center;
  height: 80px;
  column-gap: $space-s;
  padding: 24px;
  color: $dark-gray;
  font-size: $font-m;
  border-radius: 0;
}

.cmp-adaptiveform-pageheader img {
  height: $tap-height / 1.5;
  margin: 0;
  width: auto;
  color: white;
  display: block;
}

.cmp-adaptiveform-pageheader div:last-child {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}
