/* ===============Panel Container================== */
.cmp-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cmp-container[data-cmp-is="adaptiveFormPanel"] {
  margin: 0 0 $space-l 0;
}


.panelcontainer:last-child>[data-cmp-is="adaptiveFormPanel"] {
  margin-bottom: 0;
}

div[data-cmp-is="adaptiveFormDropDown"],
div[data-cmp-is="adaptiveFormDatePicker"],
div[data-cmp-is="adaptiveFormNumberInput"],
div[data-cmp-is="adaptiveFormTextInput"],
div[data-cmp-is="adaptiveFormCheckBoxGroup"],
div[data-cmp-is="adaptiveFormFileInput"],
div[data-cmp-is="adaptiveFormRadioButton"] {
  border: none;
  margin: $space-s 0;
}






.new,
.newpar,
.section {
  display: hidden;

}



.cmp-container__label {
  @include h2;
}

.cmp-container__longdescription {
  @include long-description;
}

.cmp-container__shortdescription {
  @include short-description;
}

.cmp-container__questionmark {
  @include question-mark;
}
