.cmp-adaptiveform-footer {
  color: var(--dark-primary);
  background-color: var(--background-color);
  font-size: var(--font-s);
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    padding: var(--space-s);
  }
}