/* ===============Imaget================== */
.cmp-image {
  border: 1px solid $very-light-gray;
  border-radius: 8px;

  &__image {
    border-radius: 8px;
    display: block;
    height: auto;
    max-width: 100%;
    width: inherit;
    margin: 0;
    padding: 0;
  }
}