.cmp-accordion {
  @include container;
  @include description;

  &__item {
    opacity: 1;
  }

  &__header {
    padding: 0 var(--space-s);
  }

  &__label {
    @include panel-label;
  }

  &__button {
    @include tab;
    border: none;
    border-bottom: var(--border-light);
    border-width: 2px;

    &:hover {
      color: var(--dark-primary);
    }

    &--expanded {
      color: var(--primary);
      border-color: var(--primary);

      &:hover {
        color: var(--primary);
      }
    }
  }

  &__button &__title {
    &::before {
      display: block;
      content: '';
      background: url(./resources/images/Chevron-Right.svg) center center / cover no-repeat;
      margin: 0 var(--space-s) ;
      height: 16px;
      width: 16px;
    }
    &::after {
      counter-increment: section;
      content: counter(section);
      padding-left: 5px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  .cmp-accordion__button.cmp-accordion__button--expanded &__title {
    &::before {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      background: url(./resources/images/Chevron-Right-Active.svg) center center / cover no-repeat;
    }
  }

  &__panel {
    @include tab-panel;
  }
}