//== Defaults
html,
body {
  color: var(--dark-primary);
  font-size: var(--font-m);
  background-color: var(--body-background-color);
  font-family: var(--font-family) !important;
}



.aem-Grid {
  @include generate-grid(default, $max_col);
}

// Phone breakpoint
@media (max-width: 768px) {
  .aem-Grid {
    @include generate-grid(phone, $max_col);
  }
}
