//== Font

$font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-title: 'Source Serif Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;


// ====== font size======
$font-xl: 40px;
$font-l: 24px;
$font-m: 16px;
$font-s: 12px;

// ====== colors======
$dark-gray: rgb(22, 22, 22);
$gray: rgb(109, 109, 109);
$light-gray: #969696;


$very-light-gray: #ddd;

$bg-gray: #eee;
$white: #fff;
$error: #eb3c36;
$light-error: rgba(235, 60, 54, 0.05);
$dark-error: rgba(98, 17, 15, 0.122);
$success: #23b482;
$silver: #ccc;
$panel-bg-color: #efefef;
$wizard-bg-color: #fafafa;


$accent: $dark-gray;
$dark-accent: $dark-gray;
$light-accent: $bg-gray;

$focus-outline: 2px $accent solid;
$error-outline: 2px $error solid;
$border-light: 2px $bg-gray solid;
$border-error: 2px $error solid;
$border-dark: 2px $light-gray solid;



// ====== space ======
$field-margin: .25rem 0;
$label-top-margin: 10px;
$field-height: 48px;
$field-padding-left: 12px;
$error-top-margin: 10px;
$field-right-margin: 20px;
$radio-checkbox-gap: 20px;

$space-xs: 4px;
$space-s: 12px;
$space-m: 36px;
$space-l: 72px;
$space-xl: 144px;

$field-radius: 6px;
$button-radius: 6px;
$tap-height: 48px;


//== Grid

$max_col: 12;



//== Mixins ==//

@mixin long-description {
    display: flex;
    align-items: center;
    background-color: $bg-gray;
    border-radius: $field-radius;
    opacity: 1;
    color: $dark-gray;
    padding: $space-s;
    font-size: $font-s;
    font-weight: 500;
    pointer-events: none;
    margin: $space-xs 0;
    column-gap: $space-s;

    &::before {
        content: '';
        background: url(./resources/images/long-description.svg) center center / cover no-repeat;

        height: 16px;
        min-width: 16px;
    }
}

@mixin short-description {
    display: flex;
    position: static;
    font-size: $font-s;
    font-weight: 500;
    color: $gray;
    margin: 0 0 $space-s 0;
}

@mixin error-message {
    display: none;
    color: $error;
    font-size: $font-s;
    font-weight: 500;
    margin: 0;

    &::before {
        content: '';
        background: url(./resources/images/error.svg) center center / cover no-repeat;
        margin-right: $space-xs;
        height: 16px;
        min-width: 16px;
    }
}

@mixin component-label {
    padding-right: $space-m !important;
    box-sizing: border-box;
    opacity: 1;
    color: $dark-gray;
    padding: 0;
    font-size: $font-m;
    pointer-events: none;
    z-index: 11;
}

@mixin component-widget {
    border-radius: 0;
    font-size: $font-m;
    height: $field-height;
    background-color: transparent;
    border: $border-light;
    border-radius: $field-radius;
    padding: 0 $space-s;
    margin: $space-xs 0;
    outline: $focus-outline;
    outline-width: 0px;

    &:hover {
        border: $border-dark;

        transition: border 0.3s ease-out;
    }

    &:focus {
        background-color: white !important;
        border-color: transparent !important;

        outline-offset: 0;
        outline: $focus-outline;
        transition: outline 0.1s ease-out, border 0.1s ease-out;
    }


}

@mixin question-mark {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    padding: 0;
    width: $font-m;
    height: $font-m;
    border-radius: 9px;
    background: url(./resources/images/question.svg) center center / cover no-repeat;
    cursor: pointer;
    border: none;

    body[dir="rtl"] & {
        left: 0;
        right: initial;
    }
}

@mixin component-box {
    position: relative;
    display: flex;
    flex-direction: column;

    &[data-cmp-valid=false] input,
    &[data-cmp-valid=false] select {
        background: $light-error ;
        border: $border-error ;
        outline-color: $error !important;
    }

    &[data-cmp-valid=false]>&__shortdescription {
        display: none;
    }

    &[data-cmp-valid=false]>&__errormessage {
        display: flex;
        align-items: center;
    }

    &.cmp-tabs,
    &.cmp-adaptiveform-wizard,
    &.cmp-accordion {
        margin: $space-l 0;
    }

    &:has(input:required)>label::after {
        content: ' *';
        font-weight: bold;
        color: $error;
    }

}

@mixin primary-button {
    width: fit-content;

    @media (max-width: 480px) {
        width: 100%;
    }

    display: block;
    background: $accent;
    border: none !important;
    border-radius: $button-radius;
    height: $tap-height;
    padding: 0 $space-m;
    cursor: pointer;
    color: white;
    font-size: $font-m;
    font-weight: 500;




    &:hover {
        position: relative;
        box-shadow: 0 6px 12px 1px rgba($color: #000000, $alpha: .25);

        transform: translateY(-5%);
        scale: 102%;
        transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
    }

    &[data-cmp-enabled]:not([data-cmp-enabled=true]) {
        background: $gray;
        color: $very-light-gray;
    }
}

@mixin secondary-button {
    @media (max-width: 480px) {
        width: 100%;
    }

    display: flex;
    justify-content: center;
    position: static;
    align-self: flex-start;
    background: $bg-gray;
    // height: $tap-height;
    border-radius: $button-radius;

    box-shadow: 0 6px 12px 1px rgba($color: #000000, $alpha: 0);

    vertical-align: text-bottom;
    cursor: pointer !important;
    color: $accent;
    font-size: $font-m;
    padding: $space-s $space-m;
    font-weight: 500;
    margin: $space-s 0;
    opacity: 1;

    &:hover {
        position: relative;
        background-color: $very-light-gray;
        box-shadow: 0 6px 12px 1px rgba($color: #000000, $alpha: .075);

        transform: translateY(-5%);
        scale: 102%;
        transition: box-shadow 0.1s ease-out, transform 0.1s ease-out, background-color 0.1s ease-out;
    }
}

@mixin h1 {
    font-size: $font-xl;
    color: $dark-gray;
    font-weight: 500;
    letter-spacing: -1;
    line-height: 1.1;
    margin: $space-xl 0 $space-s 0;
}

@mixin h2 {
    font-size: $font-l;
    font-weight: 500;
    color: $dark-gray;
    opacity: 1;
    margin-top: 0;
    margin-bottom: $space-s;
    position: static;
}

@mixin body-text {
    color: $dark-gray;
    font-size: $font-m;
}

@mixin tab-panel {
    padding: $space-l;
    border: $border-light;
    border-width: 1px;
    border-radius: $button-radius;
    background-color: white;
    box-shadow: 0 6px 12px 1px rgba($color: #000000, $alpha: .03);

    @media (max-width: 480px) {
        padding: $space-m;
        width: 100%;
    }
}

@mixin wizard-tab {
    @include default-tab;
    column-gap: $space-s;
    padding: 0;
    border-bottom-width: 2px;
    height: $tap-height;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: $font-m;
    font-weight: 500;
    transition: flex-grow ease .3s;
    border-radius: 0;
    border-bottom-width: 2px !important;
    border-bottom: $border-light;
    border-color: transparent;

    &--active {
        flex-grow: 1;
        transition: flex-grow ease .3s;
        color: $accent;
        border-bottom: $focus-outline;
        background-color: transparent;
    }

    &:last-child {
        margin: 0;
    }

    &--active::before {
        counter-increment: section;
        content: counter(section);
        margin-right: $space-s;
        background-color: $accent !important;
        padding: 6px;
        line-height: .56;
        border-radius: $button-radius;
        color: white !important;
        text-align: center;
        font-size: $font-s;
        font-weight: bold;
    }

    &::before {
        counter-increment: section;
        content: counter(section);
        margin-right: 0;
        background-color: $very-light-gray;
        padding: 6px;
        line-height: .56;
        border-radius: $button-radius;
        color: $dark-gray;
        text-align: center;
        font-size: $font-s;
        font-weight: bold;
    }

}

@mixin default-tab {

    padding: 0;
    background-color: transparent;
    height: $tap-height;
    line-height: 1;
    color: $gray;
    margin-right: $space-m;
    font-size: $font-m;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 0;
    border-width: 2px;

    &--active {
        color: $accent !important;
        border-color: $dark-accent;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    &--active::after {
        content: '—';
        display: none;
        color: $accent;
    }

    &--active:hover {
        border-bottom-color: $accent !important;
    }

    &:hover {
        color: $dark-gray;
        border-bottom-color: $very-light-gray;
    }

}

@mixin tab-list {
    padding: 0 $space-s;
    counter-reset: section;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    margin-bottom: 0;
}



@mixin list {
    pointer-events: all !important;
    margin: 0;
    display: flex;
    margin: $space-xs 0;

    &.VERTICAL {
        flex-direction: column;
        row-gap: 0;
    }

    &.HORIZONTAL {
        flex-direction: row;
        column-gap: 0;
    }
}

@mixin list-item {
    pointer-events: all;

    display: flex;
    align-items: center;
    color: $dark-gray;
    column-gap: $space-s;
    position: static;
    opacity: 1;
    border-radius: $button-radius;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: $space-s;

    &:hover {
        background-color: $bg-gray;
        transition: background-color 0.3s ease-out, color 0.3s ease-out;
        color: $dark-gray !important;
    }

    &:focus-within {
        outline: $focus-outline !important;
    }

}
